_*
/stage/

/include/
/ext_src/
/ext_include/
/ext_lib/

/build/
/out/
!limp/build/
*.limphash
/.ninja_deps
/.ninja_log

/gl.xml
/gl.xml.db

/msvc_out/
/msvc_build/
.vscode/
.vs/
ipch/
*.VC.db
*.VC.opendb
*.vcxproj.user
